* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* navbar */
.navbar {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: red;
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-links li {
    margin: 0px 30px;
}

header {
    width: 100vw;
    height: 100vh;
    background-image: url("./images/KILIMANJARO.jpg");
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-content {
    margin-bottom: 150px;
    color: whitesmoke;
    text-align: center;
}

.header-content h2 {
    font-size: 4vmin;
}

.line {
    width: 150px;
    height: 4px;
    background-color: #fc036b;
    margin: 10px auto;
    border-radius: 5px;
}

.header-content h1 {
    font-size: 7vmin;
    margin-top: 50px;
    margin-bottom: 30px;
}

.ctn {
    padding: 8px 15px;
    background: #fc036b;
    border-radius: 30px;
    color: whitesmoke;
}

img {
    width: 3.5rem;
    height: 2rem;
}

.menu-btn {
    position: absolute;
    top: 30px;
    right: 30px;
    display: none;
}

body,
html {
    overflow-x: hidden;
}

/* events */
section {
    width: 80%;
    margin: 80px auto;
}

.title {
    text-align: center;
    font-size: 4vmin;
    color: #73739b;
}

.event.row {
    margin-top: 50px;
}

h4 {
    font-size: 7vmin;
    color: #73739b;
    /* margin: 20px auto; */
}

p {
    color: #7c7c7c;
    /* padding: 0px 40px; */
}

.events .ctn {
    margin-top: 100px;

}

.row {
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    /* background-color: red; */
    justify-content: space-around;

}

.row.col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row .col h4 {
    text-align: center;
}

.row.col p {
    text-align: center;
    /* width: 30rem; */
}

.col img {
    width: 90%;
    height: 20rem;
    object-fit: cover;
    text-align: center;
    justify-content: space-between;
}

.explore {
    width: 100%;
    height: 100vh;
    background-image: url(./images/mailchimp-4ct0iDMOjuc-unsplash.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.explore-content {
    color: whitesmoke;
    width: 100%;
    text-align: center;
    flex-direction: column;
}



.explore-content .line {
    margin-bottom: 50px;
}

.explore-content h1 {
    font-size: 8vmin;
}

.explore-content p {
    font-size: 1rem;
    color: rgb(224, 215, 215);
    /* width: 90%; */
}

.explore-content .ctn {
    font-size: 1rem;
    padding: 8px 20px;
    background: #fc036b;
    border-radius: 30px;
    color: whitesmoke;
    font-size: 1rem;
    padding: 8px 20px;
}

.tours .row .col {
    width: 50%;
}

.tours .row .col .line {
    margin-left: -1px;
}

.tours .image-gallery {
    display: grid;
    /* flex-wrap: no-wrap; */
    grid-template-columns: 1fr 1fr;

}

.image-gallery img {
    width: 250px;
    margin: 10px;
}

.tours .col h1 {
    font-size: 8vmin;
}

.tours .row.col p {
    width: 90%;
}

/* mobile device */
@media only screen and (max-width:850px) {

    .menu-btn {
        display: block;
    }

    .navbar {
        padding: 0;
    }

    .logo {
        position: absolute;
        top: 30px;
        left: 30px;
    }

    .tours .row {
        flex-direction: column;
    }

    .nav-links {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        background-color: rgb(153, 153, 216);
        margin-top: -900px;
        transition: all .5s ease;
        border-bottom-right-radius: 30%;
    }

    .nav-links li {
        margin: 30px auto;
    }

    .mobile-menu {
        margin-top: 0px;
    }

}

@media only screen and (max-width:430px) {
    .row {
        flex-direction: column;
        margin: 1rem;

    }

    .col{
    
        margin: 1rem 0;
        justify-content: center;
        text-align: center;
    }

    .col img{
        width: 100%;
        object-fit: cover;
    }

    .tours .row{
        display: inline-block;
        min-width: 100%;
        padding: 0;
        margin: 0;
    }

    .tours-col{
        display: inline-block;
        min-width: 100%;

    }

    .tours .image-gallery {
        grid-template-columns: 1fr;
        /* display: block; */
        min-width: 100vw;
        margin-right: 1rem;
        justify-content: center;
        /* background-color: #73739b; */
    }

    .tours .image-gallery img{
        width: 100%;
    }
}